* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: rgb(206, 167, 12);
  border-bottom: 3px solid rgb(206, 167, 12);
  padding: 2px;
}
.container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.568) 30%, #f9f5f5 100%),
    url(https://media.istockphoto.com/id/1191080960/photo/traditional-turkish-breakfast-and-people-taking-various-food-wide-composition.jpg?s=612x612&w=0&k=20&c=PP5ejMisEwzcLWrNmJ8iPPm_u-4P6rOWHEDpBPL2n7Q=);
  background-size: 100vw 600px;
  background-repeat: no-repeat;
  background-color: #f9f5f5ec;
  display: flex;
  padding: 60px 40px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.content {
  background-color: #f9f5f5ec;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-bottom: 20px;
  padding: 20px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to left, rgba(0, 0, 0, 0.568) 35%, #dad7d7 100%),
    url(https://t3.ftcdn.net/jpg/02/52/12/40/360_F_252124067_aCtp9ZD934RboKmjJzkXiwYDL7XkNjpn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo img {
  height: 100px;
  width: auto;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.05);
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.links a {
  font-size: 18px;
  font-weight: bold;
  color: #ffe100;
  text-transform: uppercase;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.links a:hover {
  color: rgb(206, 167, 12);
  border-bottom: 3px solid rgb(206, 167, 12);
  padding-bottom: 2px;
}

#crousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
  position: relative;
}

#crouselLine {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  color: #333;
  margin-bottom: 20px;
}

#crousel::-webkit-scrollbar {
  height: 10px;
}

#crousel::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#crousel::-webkit-scrollbar-thumb {
  background-color: #d6c93c;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

#crousel::-webkit-scrollbar-thumb:hover {
  background: #9d9321;
}

.crouselImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.crouselItems {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 10px;
}

.helpers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px 0;
  width: 93%;
  max-width: 1200px;
  box-sizing: border-box;
  position: relative;
}

.search {
  position: relative;
  width: 90%;
}

.search input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.search input[type="text"]:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.2);
}

#searchbar {
  background: #f9f9f9;
}

.filter {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 20px;
}

.filter:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.filter:active {
  transform: scale(0.98);
}

.filterlist {
  position: absolute;
  margin-top: 40px;
  right: 0.5rem;
  top: 1rem;
  padding: 10px;
  background-color: white;
  max-height: 15rem;
  overflow: scroll;
  z-index: 1;
}

.filterOption {
  padding: 10px;
}

.filterlist::-webkit-scrollbar {
  display: none;
}

.ListAll {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
  padding: 40px;
}

.recipe {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
  max-width: 225px;
  height: 350px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.recipe-image {
  width: 100%;
  height: auto;
  max-height: 65%;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.recipe:hover .recipe-image {
  transform: scale(1.05);
}

.recipe-name {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.recipe-description {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 15px;
  overflow: scroll;
  text-overflow: ellipsis;
  white-space: wrap;
}

.recipe-description::-webkit-scrollbar {
  display: none;
}

.recipe-categories {
  font-size: 14px;
  color: #888;
  margin-top: auto;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.descOne {
  width: 100%;
  position: relative;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.details > div:first-child {
  flex: 1;
  text-align: center;
}

.recipe-image-detail {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.recipe-name-detail {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.recipe-description-detail {
  font-size: 16px;
  z-index: 1;
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.recipe-categories-detail {
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

.details > div:last-child {
  flex: 1;
  padding: 0 20px;
}

.recipe-prep-time,
.recipe-cook-time,
.recipe-total-time,
.recipe-servings {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
}

.recipe-ingredients ul,
.recipe-instructions ul {
  list-style-type: disc;
  padding-left: 20px;
}

.recipe-ingredients li,
.recipe-instructions li {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

.recipe-ingredients strong,
.recipe-instructions strong {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  display: block;
}

.revButton {
  display: inline-block;
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  position: absolute;
  top: -40px;
  left: 20px;
  z-index: 10;
}

.revButton:hover {
  background-color: #45a049;
}

.Footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: rgb(21, 19, 19);
  height: auto;
  color: rgb(241, 236, 236);
  flex-wrap: wrap;
}

.contactUs,
.footerLinks {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contactUs {
  max-width: 400px;
}

.footerLinks a {
  color: white;
  margin: 5px 0;
}
.footerLinks a:hover {
  text-decoration: none;
  color: rgb(206, 167, 12);
  border-bottom: 3px solid rgb(206, 167, 12);
  padding: 2px;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
  resize: vertical;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(238, 225, 198);
  border: none;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(240, 218, 174);
}

textarea:focus {
  border-color: #4caf50;
  outline: none;
}

.links {
  position: relative;
  cursor: pointer;
}

.Hamburger {
  display: none;
}

.HamburgerLogo img {
  width: 40px; 
  cursor: pointer;
}

.HamburgerItems {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); 
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HamburgerItems a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin: 15px;
}

.backButton {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.HamburgerItems.show {
  display: flex;
}

.HamburgerLogo {
  width: 40px;
  height: 40px;
  background-color: rgb(206, 167, 12); 
  mask-image: url('menus.png');
  mask-size: contain;
  mask-repeat: no-repeat;
  display: block;
}
.div div{
  padding: 20px;
}

@media (max-width: 992px) {
  .details {
    flex-direction: column;
    padding: 20px;
  }

  .details > div {
    flex: none;
    width: 100%;
  }

  .details > div:last-child {
    padding: 0;
  }
  .recipe {
    min-width: 45%;
  }
}

@media (max-width: 768px) {
  .recipe-image-detail {
    max-width: 100%;
  }

  .details {
    padding: 10px;
  }

  .recipe-name-detail {
    font-size: 22px;
  }

  .recipe-description-detail {
    font-size: 14px;
  }

  .recipe-ingredients li,
  .recipe-instructions li {
    font-size: 14px;
  }
  .navbar {
    flex-direction: row;
    padding: 10px 20px;
  }

  .logo img {
    height: 80px;
  }

  .Hamburger {
    display: flex;
    cursor: pointer;
  }
  .HamburgerLogo {
    fill: #9d9321;
    width: 40px;
  }
  .links {
    display: none;
  }

  #crousel {
    width: 95%;
  }
  .Inputform {
    width: 90%;
  }
  .helpers {
    flex-direction: column;
    align-items: stretch;
  }

  .search input[type="text"] {
    max-width: 90%;
    margin-bottom: 10px;
  }

  .filter {
    margin-left: 0;
    width: 40%;
    max-width: 80%;
    text-align: center;
  }
  .recipe {
    min-width: 60%;
  }
  .revButton {
    font-size: 14px;
    padding: 8px 16px;
    top: -30px;
  }
  .crouselImage {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .links a {
    font-size: 16px;
  }
  .recipe {
    min-width: 90%;
  }
  .filter {
    width: 90%;
  }
  .navbar {
    flex-direction: column;
  }

  #crouselLine {
    font-size: 20px;
  }
  .crouselImage {
    width: 75px;
    height: 75px;
  }
}

.Hide {
  display: none;
}
